:root {
  --main-color: #f89900;
  --main-footer-color: #f89900;
}
button {
  border-color: var(--main-color) !important;
}

@font-face {
  font-family: "icon";
  src: url("./iconfont.ttf") format("truetype");
}

.icon {
  font-family: "icon" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
}
/*329be10a648090c092ec5035c34ff826*/
.icon-daipingjia3:before {
  content: "\e666";
}

.icon-kefu:before {
  content: "\e614";
}

.icon-_daifahuo:before {
  content: "\e629";
}

.icon-31daishouhuo:before {
  content: "\e601";
}

.icon-jurassic_safe:before {
  content: "\e6a1";
}

.icon-daifukuan:before {
  content: "\e609";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-shangpinshoucang:before {
  content: "\e608";
}

.icon-xiugaidingdan:before {
  content: "\e8f2";
}

.icon-setup:before {
  content: "\e728";
}

.icon-qianbao:before {
  content: "\e69a";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-control-backward:before {
  content: "\ecac";
}

.icon-yunfei:before {
  content: "\e6fd";
}

.icon-guanzhudianpu:before {
  content: "\e632";
}

.icon-huidaodingbu:before {
  content: "\e692";
}

.icon-biaoxingfill:before {
  content: "\e732";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-youjiantou:before {
  content: "\e63e";
}

.icon-xuanzejiaobiao:before {
  content: "\e717";
}

.icon-meiyuan9:before {
  content: "\e73b";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-icon_duihao-mian:before {
  content: "\e63d";
}

.icon-24gf-appsBig6:before {
  content: "\e9bf";
}

.icon-wode:before {
  content: "\e630";
}

.icon-huojianjiasu:before {
  content: "\e6d4";
}

.icon-dingbu:before {
  content: "\e6de";
}

.icon-dunpai:before {
  content: "\e775";
}
:root {
    --primary-color: #061738;
    --secondary-color: #ee2761;
    --yellow-color: #ffc107;
    --text-gray-color: #606060;
    --white-color: #ffffff;
    --ofwhite-color: #f2f2f2;
    --black-color: #000000;
    --light-color: #fcfcfc;
    --light-color2: #aaaaaa;
    --dark-color: #242424;
    --sky-color: #647589;
    --border-color: #e7e7e7;
    --border-color2: #e4e4e4;
    --border-color3: #dddddd;
    --border-dark: #383434;
    --bg-gray-color: #fcfcfc;
    --gray-color: #fafbfe;
    --gray-color2: #f5f5f5;
    --font-jost: "Jost", sans-serif;
    --body-font-size: 1.6rem;
    --body-font-weight: 400;
    --body-line-height: 2.8rem;
    --headings-weight: 600;
    --transition: all 0.3s ease 0s;
    --container-fluid-offset: 19rem;
  }